
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-app="Brewmaster" ng-cloak>

  <div id="back" ng-controller="AppCtrl" ng-cloak >
    <!-- Top banner -->
    <div id="welcome-banner">
      <img id="landing-image" src="images/running.jpg">
      <h1 id="brewmaster-logo">Welcome to Stepic</h1>
      <h3 id="subheading">Living healthier than your friends.</h3>
    </div>

    <div id="teams" layout="row">
      <div id="center-div" layout="row">

      <div id="team-one">
        <md-content>
          <md-list id="team-one-info">
            <md-list-item class="md-2-line team-info">
              <img src="images/java.png">
              <div class="md-list-item-text">
                <h2>{{teamOne.teamName}} </h2>
                <h3><span>{{teamOne.teamTotal}}</span> steps</h3>
              </div>
            </md-list-item>
            <div data-ng-repeat="member in teamOne.members">
              <md-list-item class="md-2-line team-member team-member-one">
                <!-- addd image info here-->
                <img src='{{member.img}}'>
                <div class = "md-list-item-text">
                  <h2>{{member.name}}</h2>
                  <h3><span>{{member.steps}}</span>steps</h3>
                </div>
                </md-list-item>
            </div>
          </md-list>
        </md-content>
      </div>

      <div id="team-two">
        <md-content>
          <md-list id="team-two-info">
            <md-list-item class="md-2-line team-info">
              <img src="images/pokeball.png">
              <div class="md-list-item-text">
                <h2>{{teamTwo.teamName}}</h2>
                <h3><span>{{teamTwo.teamTotal}}</span> steps</h3>
              </div>
            </md-list-item>
            <div data-ng-repeat="member in teamTwo.members">
              <md-list-item class="md-2-line team-member team-member-two">
                <!-- addd image info here-->
                <img src='{{member.img}}'>
                <div class = "md-list-item-text">
                  <h2>{{member.name}}</h2>
                  <h3><span>{{member.steps}}</span>steps</h3>
                </div>
                </md-list-item>
            </div>
          </md-list>
        </md-content>
      </div>
    </div>
    </div>
  </div>


      
    





  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  


  <script src="app.js"></script>
  
</body>
</html>

