body{
	width: 100%;
    background-color:#558C89;
}

#welcome-banner{
    width: 100%;
}

img#landing-image{
	height: 350px;
	width: 100%;
}

.card-media {
  background-color: #999999;
  height: 100px;
}

.beer-card {
	height: 250px;
	width: 500px;
	float: left;
}

.team-info{
	margin-bottom: 20px;
}

#back{
    background-color:#C63D0F;
}

#welcome-banner {
	position: relative;
}

md-list{
	padding-left: 10px;
	padding-right: 10px;
	width: 466px;
}

#brewmaster-logo {
    position: absolute;
    top: 0%;
    color: white;
    font-family: sans-serif;
    margin-left: 75%;
    -webkit-text-stroke: 1px black;
    font-size: 70;
}

#subheading{
	position: absolute;
	top: 76%;
	left: 5%;
	color: white;
    -webkit-text-stroke: 1px black;
    font-size: 27;
}

.beer-image{
	height:173px;
}

.ng-scope{
    width:100%;
    background-color:white;
}

.team-member{
	border-style: solid;
    border-width: 5px;
}

.team-one{
	width: 50%;
}

.md-list-item-text{
	margin-left: 40px;
}

.team-member{
	margin-bottom: 20px;
}

.team-member-one{
    border-style: solid;
    border-color: #3B3738;
}

.team-member-two{
    border-style: solid;
    border-color: #758F77;
}

.md-list-item-text{
	padding-left: 70px;
}

.team-steps{
    font-size:30px;
    font-weight: bold;
}

h3 span {
	font-size: 25;

}

h2 div {
	margin-bottom: 0px;
}

div h2 {
	margin-top: 0px;
	font-size: 35px;
}

md-list-item img{
	margin-bottom: 5px;
	margin-top: 10px;
}

md-list-item:nth-child(even) {
    background: #ff0000;
}

md-list-item.md-2-line.team-info.md-no-proxy {
    padding-left: 64px;
}

#team-one-info{
	padding-left: 20px;
    background-color:#FDF3E7;
    border-color: blue;
/*    border color*/
}

#team-two-info{
    padding-left: 20px;
    background-color:#FDF3E7;
    border-color: green;
    /*    border color*/
}

#center-div{
    margin: 0 auto;
}

div h3{
	padding-top: 10px;
}
